<div class="menu continer-fluid">
    <div class="row d-flex ">

    <div class="col-md-12" id='img-bg'>
            <!--backGround-->

        <div class="ml-5">
            <div class="col-md-6 pt-5 justify-content-center colorFont ml-5">
                <h1 class="mt-5 mb-5 titleFont">Apaixonada por criar, conhecer e informar</h1>
                <div class="textofont">
                  <p class="tamanhotexto row "> Formada em administração de empresas pela Faculdade
                    <a href="https://esags.edu.br/" target="_blank" class="iconLetra corLetrasRodaPe">
                       STRONG ESAGS </a>
                     certificada pela Fundação Getúlio Vargas,
                    decidi ir para o mundo da programação em busca de meu verdadeiro sonho: "criar algo para facilitar e mudar o dia-dia das pessoas".</p>
                    <p class="tamanhotexto row">
                      Desde então busco estudar diversos temas e tecnologias para me desenvolver cada vez mais.
                      Quando criança muito curiosa, principalmente com o mundo considerado "masculino" na época, me envolvi com o mundo dos jogos cedo e tenho um grande carinho por essa comunidade, afinal, ela foi minha porta de entrada para a tecnologia.
                      </p>

                    <p class="tamanhotexto row">
                      Aqui do lado estão alguns dos meus hobbies para que você me conheça melhor!
                    </p>
                </div>
            </div>

          </div>
        </div>
        <!--/backgroud-->
    </div>
</div>
